.header{
  width: 90%;
  margin: auto;
  border-bottom: 1px solid black;
}

.header-title{
  font-size: 32px;
}

.email-input{
  width: 100px;
}

.password-input{
  width: 100px;
}

.login-button{
  width: 100px;
}