.header{
  width: 90%;
  height: 50px;
  margin: auto;
  border-bottom: 1px solid black;
}

.header-title{
  font-size: 32px;
}

.email-input{
  width: 100px;
  margin-top: 5px;
}

.password-input{
  width: 100px;
  margin-top: 5px;
}

.login-button{
  width: 100px;
  margin-top: 5px;
}

.logout-button{
  width: 100px;
  height: 40px;
  margin-top: 5px;
}